# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# Virtual environments
.venv/
venv/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Data outputs (keep folder structure)
data/processed/*
!data/processed/.gitkeep

# Streamlit cache
.streamlit/
